[submodule ".registry"]
	path = .registry
	url = https://github.com/epiforesite/epiforesite.r-universe.dev
	branch = HEAD
[submodule "bayestransmission"]
	path = bayestransmission
	url = https://github.com/EpiForeSITE/bayesian-transmission
[submodule "branchingprocess"]
	path = branchingprocess
	url = https://github.com/EpiForeSITE/branchingprocess
[submodule "epitraxr"]
	path = epitraxr
	url = https://github.com/EpiForeSITE/epitraxr
[submodule "facilityepimath"]
	path = facilityepimath
	url = https://github.com/EpiForeSITE/facilityepimath
[submodule "linkeR"]
	path = linkeR
	url = https://github.com/EpiForeSITE/linkeR
[submodule "multigroup.vaccine"]
	path = multigroup.vaccine
	url = https://github.com/EpiForeSITE/multigroup-vaccine
[submodule "quadkeyr"]
	path = quadkeyr
	url = https://github.com/EpiForeSITE/quadkeyr
[submodule "rbranding"]
	path = rbranding
	url = https://github.com/EpiForeSITE/rbranding
[submodule "rtestim"]
	path = rtestim
	url = https://github.com/dajmcdon/rtestim
	registered = false
[submodule "summrt"]
	path = summrt
	url = https://github.com/EpiForeSITE/summrt
