[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "branchingprocess"]
	path = branchingprocess
	url = https://github.com/epiforesite/branchingprocess
[submodule "epitraxr"]
	path = epitraxr
	url = https://github.com/epiforesite/epitraxr
[submodule "facilityepimath"]
	path = facilityepimath
	url = https://github.com/epiforesite/facilityepimath
[submodule "linkeR"]
	path = linkeR
	url = https://github.com/epiforesite/linker
