[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "branchingprocess"]
	path = branchingprocess
	url = https://github.com/epiforesite/branchingprocess
[submodule "facilityepimath"]
	path = facilityepimath
	url = https://github.com/epiforesite/facilityepimath
